/* TODO Add site wide styles */
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --black-ljt: #0b0b0b
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --green-50:#7fe7cb;
    --green-100:#66e2c1;
    --green-200:#4cddb6;
    --green-300:#32d8ac;
    --green-400:#19d3a2;
    --green-ljt:#00cf98;
    --green-500:#00ba88;
    --green-600:#00a579;
    --green-700:#00906a;
    --green-800:#007c5b;
    --green-900:#00674c;
}
