/* TODO Add site wide styles */
:root {
    --txSmall: .8vw;
    --txMedium: 1.2vw;
    --txLarge: 1.5vw;
    --txXLarge: 2vw;
    --custom-shadow: 4px 8px 32px 5px rgba( 0, 0, 0, 0.37 );
    --custom-shadow-2: 0px 4px 3px rgba( 0, 0, 0, 0.15 );
    --custom-nav-border: 4px solid rgba( 220,220,220 0.35 );
    --custom-border-2: 2px solid rgba( 220,220,220 0.35 );
    --bottom-border: 'border-bottom: 1px solid var(--gray-400);';
    --eerie-black: #0b0b0b;
    --logo-green:#00cf98;
    --bright-green: #c3f53c;
    --money-green: #00c805;
    --splash-gradient: linear-gradient(74.84deg, rgb(0, 200, 5) 18.12%, rgb(195, 245, 60) 81.46%);
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --green-50:#7fe7cb;
    --green-100:#66e2c1;
    --green-200:#4cddb6;
    --green-300:#32d8ac;
    --green-400:#19d3a2;
    --green-450:#00ce98;
    --green-500:#00ba88;
    --green-600:#00a579;
    --green-700:#00906a;
    --green-800:#007c5b;
    --green-900:#00674c;
    --red-50:#f7c1c1;
    --red-100:#f4b1b1;
    --red-200:#f19f9f;
    --red-300:#ee8e8e;
    --red-400:#eb7d7d;
    --red-450:#e86c6c;
    --red-500:#e55b5b;
    --red-600:#e24a4a;
    --red-700:#df3939;
    --red-800:#dc2828;
    --red-900:#d91717;
    --indigo-50:#c7c7f7;
    --indigo-100:#b9b9f4;
    --indigo-200:#a9a9f1;
    --indigo-300:#9a9aee;
    --indigo-400:#8b8bed;
    --indigo-450:#7c7cea;
    --indigo-500:#6d6de7;
    --indigo-600:#5e5ee4;
    --indigo-700:#4f4fe1;
    --indigo-800:#4040de;
    --indigo-900: #18112d;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.k-chart,
.k-chart-surface {
    width: 100%;
    height: 100%;
}


.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider {
    height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
  
.card {
    position: absolute;
    top: 0;
    right: 12%;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 25vw;
    min-width: 400px;
    object-fit: cover;
    z-index: 0;
    opacity: 0;
    transition: 500ms;
}

.card--active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

.card--left {
    transform: translateX(-125%) scale(0.7);
    transition: 500ms;
    opacity: 0.3;
}

.card--right {
    transform: translateX(125%) scale(0.7);
    transition: 500ms;
    opacity: 0.3;
}

#ex-container {
    overflow: hidden;
}

#ex-content {
    margin-top: -250%;
    transition: all 0.5s ease-in-out;
}

#ex-content.expanded {
    margin-top: 0%;
}

.rotate-up {
    transform: rotate(-45deg);
}

.rotate-down {
    transform: rotate(-225deg);
}

#pie-chart {
    width: 100%;
    height: 90%;
}

#line-chart {
    width: 100%;
    height: 90%;
}

.floating-tooltip {
    position: absolute;
	height: 80px;
	padding: 8px;
	font-size: 12px;
	text-align: left;
	z-index: 100;
	border-radius: 2px;
	pointer-events: none;
    backdrop-filter: blur(2px);
	background-color: rgba(255, 255, 255, .3);
	border: 1px dotted var(--eerie-black);
    display: none;
}