/* TODO Add site wide styles */
:root {
    --eerie-black: #0b0b0b;
    --logo-green:#00cf98;
    --bright-green: #c3f53c;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --green-50:#7fe7cb;
    --green-100:#66e2c1;
    --green-200:#4cddb6;
    --green-300:#32d8ac;
    --green-400:#19d3a2;
    --green-450:#00ce98;
    --green-500:#00ba88;
    --green-600:#00a579;
    --green-700:#00906a;
    --green-800:#007c5b;
    --green-900:#00674c;
    --red-50:#f7c1c1;
    --red-100:#f4b1b1;
    --red-200:#f19f9f;
    --red-300:#ee8e8e;
    --red-400:#eb7d7d;
    --red-450:#e86c6c;
    --red-500:#e55b5b;
    --red-600:#e24a4a;
    --red-700:#df3939;
    --red-800:#dc2828;
    --red-900:#d91717;
    --indigo-50:#c7c7f7;
    --indigo-100:#b9b9f4;
    --indigo-200:#a9a9f1;
    --indigo-300:#9a9aee;
    --indigo-400:#8b8bed;
    --indigo-450:#7c7cea;
    --indigo-500:#6d6de7;
    --indigo-600:#5e5ee4;
    --indigo-700:#4f4fe1;
    --indigo-800:#4040de;
    --indigo-900: #18112d;
}

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider {
    height: 700px;
    width: 100%;
}
  
.card {
    position: absolute;
    top: 0;
    right: 10%;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 25vw;
    min-width: 400px;
    object-fit: cover;
    cursor: pointer;
    z-index: 0;
    opacity: 0;
    transition: 500ms;
    cursor: pointer;
}

.card--active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

.card--left {
    transform: translateX(-125%) scale(0.8);
    transition: 500ms;
    opacity: 0.3;
}

.card--right {
    transform: translateX(125%) scale(0.8);
    transition: 500ms;
    opacity: 0.3;
}
